//Site background and text colors
$header-color: black;
//$floating-nav-color:linear-gradient(99deg,rgba(0, 0, 0, 0.932),rgb(128, 128, 128) 40%,#757474 rgb(128, 128, 128) 73%,#ffffff);
$floating-nav-color: black;
$about-color: linear-gradient(0.25turn,black,grey,grey,grey, grey,grey, black);
// $services-color: linear-gradient(0.25turn,black,grey,grey,grey, grey,grey, black);
$projects-color:linear-gradient(0.25turn,black,grey,grey,grey, grey,grey, black);
$contact-color:  rgb(184, 35, 35);
$header-link-color:  rgb(184, 35, 35);
$off-yellow: rgb(184, 35, 35); 
$text-color:black;
$floating-text-color: rgb(184, 35, 35);
//Breakpoints
$breakpoint-tablet: 550px;
$breakpoint-desktop: 901px;